{% extends 'corpo.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>SAC</span></h1>
            </div>

            <div id="status">
                <p>
                    Olá, Benvindo ao SAC
                </p>
            </div>
        </div>
    </div>
{% endblock %}

