{{ form_start(form) }}
            {{ form_widget(form) }}
<button type="submit" class="btn btn-primary">Buscar</button>
{{ form_widget(form, { 'attr': {'class': 'form-inline'} }) }}
{{ form_end(form) }}